@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.titillium-web-regular {
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.titillium-web-semibold {
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    font-style: normal;
}
body {
    background-color: $light-grey;
    box-sizing: border-box;
    width: 100vw;
}
.inventory {
    box-sizing: border-box;
    width: 343px;
    background-color: $white;
    box-shadow: 0px 2px 5px 0.5px $cloud;
    border-radius: 3px;
    border: none;
    margin: -60px 16px 16px 16px;
    padding: 16px 0;
    position: relative;

    @include tablet {
        width: 704px;
        margin: -60px 24px 24px 24px;
    }

    @include desktop {
        width: 1020px;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }

    &--header {
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;

        @include tablet {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 24px;
        }

        @include desktop {
            padding: 48px;
            margin: 0;
        }

        &__left {

            &--title {
                font-family: "titillim-web-regular", Arial, sans-serif;
                font-weight: 600;
                font-size: 28px;
                padding-left: 24px;

                @include tablet {
                    font-size: 32px;
                    margin: 0;
                    padding: 0;
                }
            }
        }

        &__right {
            display: flex;
            flex-direction: column;
            align-items: center;

            @include tablet {
                flex-direction: row;
                padding: 0;
                margin: 0;
            }

            &--search {
                width: 295px;
                height: 36px;
                border: 1px solid $cloud;
                padding-left: 16px;
                border-radius: 20px;
                margin-bottom: 16px;
                background-image: url('../../assets/Icons/search-24px.svg');
                background-size: contain 2;
                background-repeat: no-repeat;
                background-position: 255px;

                @include tablet {
                    width: 185px;
                    font-size: 14px;
                    background-position: 160px;
                    margin: 0;
                }
            }

            &--button {
                background-color: $instock-indigo;
                color: $white;
                border-radius: 20px;
                padding: 8px 111px;
                margin-bottom: 16px;
                height: 41px;
                border: none;

                @include tablet {
                    width: 165px;
                    padding: 8px 16px;
                    font-size: .8rem;
                    margin-left: 16px;
                    margin-bottom: 0;
                    font-size: 13px;
                }
            }
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        font-family: "titillim-web-regular", Arial, sans-serif;
    }

    &__headers {
        display: none;

        @include tablet {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 4px 24px;
            font-family: "Titillium Web", sans-serif;
            font-size: 12px;
            font-weight: 600;
            color: $slate;
            background-color: $light-grey;
        }

        @include desktop {
            padding: 4px 48px;
        }

        &--title {
            display: inline-flex;
            align-items: center;

            &--qty {
                padding-left: 40px;
            }
            &--sort-icon {
                width: 16px;
                height: 16px;
            }
        }
    }

    &__item {
        display: flex;
        flex-flow: row wrap;
        padding: 16px;
        border-bottom: 1px solid $cloud;
        border-left: none;
        border-right: none;
        border-radius: 0;
        background-color: $white;

        @include tablet {
            padding: 24px;
        }

        @include desktop {
            padding: 24px 48px;
        }

        &--spec {
            font-family: "Titillium Web", sans-serif;
            font-size: 13px;
            
            @include tablet {
                font-size: 14px;
                flex: initial;
                text-align: left;
                display: flex;
                align-items: center;
                margin: 0;
                padding: 0;
            }
        }

        &--item-name {
            display: inline-flex;
            align-items: center;
            gap:4px;
            color: $instock-indigo;
            font-weight: 600;

                @include tablet {
                    width: 145px;
                    flex: 1;
                    gap: 0;
                }

                @include desktop {
                    width: 197px;
                }
        }

        &--category {
            @include tablet {
                flex: 0;
            }
        }

        &--status {
            @include tablet {
                flex: 4.75;
            }
        }

        &--quantity {
            @include tablet {
                flex: 2.5;
            }
            @include desktop {
                flex: 3.2;
            }
        }

        &--warehouse {
            @include tablet {
                flex: 4;
            }
            @include desktop {
                flex: 4.35;
            }
        }
    }

    &__content {
        flex: 1;
        display: flex;
        flex-direction: row; 
        justify-content: flex-start;
        gap: 16px;

        @include tablet {
            gap: 0;
        }
    }

    &__left {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 8px;

        @include tablet {
            flex: 0.85;
            flex-direction: row;
        }

        @include desktop {
            flex: 0.8;
        }
    }
    
    &__right {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 8px;
        
        @include tablet {
            flex-direction: row;
        }
    }
    
    &__mobile-header {
        font-size: 12px;
        color: $slate;
        font-weight: 600;
        margin: 0;

        @include tablet {
            display: none;
        }
    }

    &__actions {
        display: flex;
        width: 100%;
        justify-content: space-between;
        gap: 8px;
        margin-top: 16px;

        @include tablet {
            margin-top: 0;
            justify-content: flex-end;
            width: fit-content;
            padding-left: 16px;
        }

        button {
            background: none;
            border: none;
            cursor: pointer;
        }
    }

    &__button {
        width: 24px;
        height: 24px;
        padding: 0;

        @include tablet {
            padding: 0 24px 0 0;
        }
    }
}