@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/mixins' as *;

.titillium-web-regular {
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.titillium-web-semibold {
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.warehouses {
    width: 343px;
    margin: 136px 16px;
    box-shadow: 0px 2px 5px 0px #13182C;

    &--header {
        display: flex;
        flex-direction: column;
        
        &__left {

            &--title {
                font-family: "titillim-web-regular", Arial, sans-serif;
                font-weight: 600;
                font-size: 28px;
                padding-left: 24px;
            }
        }

        &__right {
            display: flex;
            flex-direction: column;
            align-items: center;

            &--search-bar {
                width: 295px;
                height: 36px;
                border: 1px solid rgb(175, 175, 175, .5);
                padding-left: 16px;
                border-radius: 20px;
                margin-bottom: 16px;
            }

            &--button {
                background-color: #2E66E5;
                color: #FFFFFF;
                border-radius: 20px;
                padding: 8px 84px;
                margin-bottom: 16px;
                height: 36px;
                border: none;
            }
        }
    }

    &--list {

        &--individual {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            margin-top: 8px;
            border-top: 1px solid #BDC5D5; 

            &--images {
                order: 5;
                width: 100%;
                display: flex;
                justify-content: space-between;
                padding: 0 16px 16px 16px;
            }

            &__container {
                width: 40%;
            }

            &__title {
                font-size: 11px;
                color: #5C667E;
            }

            &__details {
                font-size: 13px;
                color: #13182C;
            }

            &__warehouse {
                order: 1;
            }

            &__address {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                order: 3;
            }

            &__contact-name {
                order: 2;
            }

            &__contact-information {
                order: 4;
            }
        }
    }
}