@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/mixins' as *;

.titillium-web-regular {
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.titillium-web-semibold {
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.warehouses {
    width: 343px;
    margin: 136px 16px;
    box-shadow: 0px 2px 2px 0px #13182C;

    @include tablet {
        width: 704px;
        margin: 50px auto;
    }

    &--header {
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;

        @include tablet {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        
        &__left {

            &--title {
                font-family: "titillim-web-regular", Arial, sans-serif;
                font-weight: 600;
                font-size: 28px;
                padding-left: 24px;

                @include tablet {
                    font-size: 32px;
                }
            }
        }

        &__right {
            display: flex;
            flex-direction: column;
            align-items: center;

            @include tablet {
                flex-direction: row;
            }

            &--search-bar {
                width: 295px;
                height: 36px;
                border: 1px solid rgb(175, 175, 175, .5);
                padding-left: 16px;
                border-radius: 20px;
                margin-bottom: 16px;

                @include tablet {
                    width: 185px;
                }
            }

            &--button {
                background-color: #2E66E5;
                color: #FFFFFF;
                border-radius: 20px;
                padding: 8px 84px;
                margin-bottom: 16px;
                height: 36px;
                border: none;

                @include tablet {
                    width: 165px;
                    padding: 8px 16px;
                    font-size: .8rem;
                    margin-left: 8px;
                }
            }
        }
    }

    &--list {

        &__mobile {
            display: block;

            @include tablet {
                display: none;
            }
        }

        // &__desktop {
        //     display: none; 
          
        //     @include tablet {
        //       display: block;
        //     }
        // }

        &--header{
            display: none;

            @include tablet {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                padding: 8px 0;
                font-weight: 600;
                font-size: 13px;
                color: #5c667e;
                background-color: #F7F8F9B2;
                text-transform: uppercase;

                &__1 {
                    padding-left: 0;
                }
            }

            &--item {
                cursor: pointer;
                position: relative;

                &:after {
                    content: "";
                    position: absolute;
                    right: 10px;
                    top: 50%;
                    transform: translateY(-50%);
                    border: solid transparent;
                    border-width: 5px;
                    display: none;
                }

                &.asc:after {
                    display: block;
                    border-bottom-color: #5c667e;
                }

                &.desc:after {
                    display: block;
                    border-top-color: #5c667e;
                }
            }
        }

        &--individual {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            margin-top: 8px;
            border-top: 1px solid #BDC5D5; 

            @include tablet {
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;
                
            }

            &--images {
                order: 5;
                width: 100%;
                display: flex;
                justify-content: space-between;
                padding: 0 16px 16px 16px;

                @include tablet {
                    width: 20%;
                    order: 5;
                    justify-content: space-evenly;
                }
            }

            &__container {
                width: 40%;

                @include tablet {
                    width: 20%;
                    padding: 8px;
                    margin-bottom: 0;
                }
            }

            &__title {
                font-size: 11px;
                color: #5C667E;
                margin-bottom: 8px;
                display: block;

                @include tablet {
                    display: none;
                }
            }

            &__details {
                font-size: 13px;
                color: #13182C;
                margin-top: 0;
                
                &__link {
                    text-decoration: none;
                    font-weight: 600;
                }
            }

            &__warehouse {
                order: 1;
            }

            &__address {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                order: 3;

                @include tablet {
                    order: 2;
                }
            }

            &__contact-name {
                order: 2;

                @include tablet {
                    order: 3;
                }
            }

            &__contact-information {
                order: 4;
            }
        }
    }
}