@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;


.newWarehouseFlex{
    @include titillium-web-semibold; 

    margin: 1rem;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    > div {
        padding: 1rem;
    }

    label {
        span{
            margin-bottom: 8px;
            display: inline-block;
        }

        input {
            border: 1px solid #bdc5d5; 
            border-radius: 20px; 
            padding: 0.7rem 1rem; 
            width: 100%;
            box-sizing: border-box; 
            margin-bottom: 1rem;
        
            &:focus {
                outline: none;
                border-color: #2e66e5; 
            }
        }
    }
}


h2 {
    font-size: 24px;
    @include tablet {
      font-size: 20px;
    }
  }

.warehouse-details__left {
    margin-left: 15px;
    background-color: #2e66e5;
}  

.addNewWarehouse__flex {
    display: flex;
    border-bottom: solid 1px $cloud;
    margin: 0 -1rem;
    padding: 0 1rem;
    color: $graphite;
    img {
        padding-right: 1rem;
    }
}

.newWarehouse__input--title{
    margin-bottom: 8px;
    display: inline-block;
}

.padding__oneRem {
    padding-bottom: 1rem;
}

.padding__twoRem {
    padding-bottom: 2rem;
}

.form__flex{
    > * {
        padding-bottom: 1rem;
    }
    > :first-child {
        border-bottom: solid 1px $cloud;
        margin: 0 -1rem;
        padding:  1rem;
    }
    > :nth-child(2) {
        padding-top: 1rem;
        padding-bottom: 2rem;
    }
}

.newWarehouse__submit{
    display: flex;
    justify-content: space-around;
    background-color: $light-grey;
    margin: -1rem -1rem;
    padding-top: 1.5rem;
    padding-bottom: 2rem;

    button{
        padding: 0.7rem 1rem;
        border-radius: 2rem;
        border: none;
        color: white;
        font-size: 1rem;
        font-weight: 600;
        background-color: $instock-indigo;
        cursor: pointer;
    }
}

#newWarehouse__cancel-button {
    padding: 0.7rem 3rem;
    border-radius: 2rem;
    border: solid 1px $slate;
    color: $slate;
    font-size: 1rem;
    font-weight: 600;
    background-color: $white;
    cursor: pointer;
}

@include tablet {
    .newWarehouseFlex{
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .form__flex{
        display: flex;
        justify-content: space-evenly;
        > * {
            width: 50%;
            padding: 0 2rem;
            background-color: white;
        }

        > :first-child{
            border-bottom: none;
            border-right: solid 1px $cloud;
            z-index: 1;
        }
    }

    .newWarehouse__submit{
        justify-content:flex-end;
        gap: 1rem;
        padding-right: 2rem;
        position: relative;
        top:1rem;
    }

}

@include desktop{
    .newWarehouseFlex{
        margin-left: 4rem;
        margin-right: 4rem;
    }

}

@media (min-width: 1400px) {
    .newWarehouseFlex{
        width: auto;
        max-width: 100%;
    }
}

.newWarehouse__window {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    background-color: $white;
    padding: 40px;
    max-width: 900px;
    width: 100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}


