@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;


.header__flex {
    @include titillium-web-semibold;
    background-color: $graphite;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__nav{
    display: flex;
    width: 100%;
    justify-content: space-around;

    p{
        color: $cloud;
        padding-inline: 2rem;
        padding-block: 1rem;
        border-radius: 3rem;
    }
    p:active {
        color: $white;
        background-color: $instock-black;    
    }
}

@include tablet {
    .header__flex {
        padding-left: 2rem;
        padding-right: 2rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
        img {
            width: 128px; // Set fixed width for logo
            height: auto; // Maintain aspect ratio
            margin-right: 2rem;
            object-fit: contain; // Ensure image scales properly
        }
        
        .header__nav {
            flex: 1;
            justify-content: flex-end;
            
            p {
                margin-left: 1rem;
            }
        }
    }
}

@include desktop {
    .header__flex{
        width: auto;
        padding-left: auto;
        padding-right: auto;
        max-width: 100%;

    }
}