@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.footer__padding {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 3rem;
    color: $slate;
    background-color: $light-grey;
    padding-left: 1rem;
    padding-right: 1rem;
}

@include tablet{
    .footer__padding{
        padding-top: 4rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@include desktop {
    .footer__padding{
        padding-left: auto;
        padding-right: auto;
    }
}