@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.titillium-web-regular {
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.titillium-web-semibold {
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.individual-warehouse {
    width: 343px;
    margin: 0 au;
    box-shadow: 0px 2px 2px 0px $instock-black;

    @include tablet {
        width: 704px;
        margin: auto;
    }

    @include desktop {
        width: 1020px;
    }

    &--header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 16px 24px;

        &__left {
            display: flex;
            align-items: center;

            &--link {
                text-decoration: none;
            }

            &--name {
                font-family: "titillim-web-semibold", Arial, sans-serif;
                font-size: 28px;
                padding-left: 8px;
            }
        }

        &__right {
            background-color: $instock-indigo;
            width: 36px;
            height: 36px;
            border-radius: 20px;

            @include tablet {
                width: 81px;
                height: 38px;
                padding: 8px 16px;
                border-radius: 30px;
            }

            &--text {
                display: none;

                @include tablet {
                    display: block;
                    font-family: "titillim-web-semibold", Arial, sans-serif;
                    color: $white;
                    margin: 0;
                    text-align: center;
                    font-size: 18px;
                }
            }

            &--image {
                padding: 5px;
            }
        }
    }

    &--info {
        border-top: 1px solid $cloud;
        border-bottom: 1px solid $cloud;
        display: flex;
        flex-direction: column;
        padding: 24px;

        @include tablet {
            flex-direction: row;
        }

        &--header {
            font-size: 11px;
            color: $slate;
            font-family: "titillim-web-regular", Arial, sans-serif;
        }

        &--details {
            font-size: 13px;
            color: $instock-black;
            font-family: "titillim-web-regular", Arial, sans-serif;
        }

        &__left {

            @include tablet {
                flex-grow: 2;
            }
        }

        &__right {
            display: flex;
            justify-content: space-between;
        }
    }
}